@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow-no1 {
  text-shadow: 1px 1px 0 #4a90e2, -1px 1px 0 #4a90e2, -1px -1px 0 #4a90e2,
    1px -1px 0 #4a90e2;
}

.text-shadow-no2 {
  text-shadow: 1px 1px 0 #50e3c2, -1px 1px 0 #50e3c2, -1px -1px 0 #50e3c2,
    1px -1px 0 #50e3c2;
}

.text-shadow-no3 {
  text-shadow: 1px 1px 0 #e35050, -1px 1px 0 #e35050, -1px -1px 0 #e35050,
    1px -1px 0 #e35050;
}

.text-shadow-rest {
  text-shadow: 1px 1px 0 #ccc, -1px 1px 0 #ccc, -1px -1px 0 #ccc,
    1px -1px 0 #ccc;
}

.bg-zingchart {
  background: radial-gradient(
      50% 124.93% at 95.86% -10%,
      #3efad9 0,
      hsla(0, 0%, 100%, 0) 100%
    ),
    linear-gradient(91.56deg, #ff9357 1.54%, #9100ff 98.71%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
}
